body {
    background-color: #31333b;
}
h2 {
    color: #fff;
    font-size: 35px;
}
label {
    color: #999;
}
.ВХОД {
    padding: 8px;
    background: #181a21;
    margin-bottom: 101px;
}
#ds {
    color: #1999ff;
    font-size: small;
    font-family: Arial;
}
.daun input {
    background-color: #32353c;
    box-shadow: none;
    font-family: Arial;
}
.pass input {
    background-color: #32353c;
}
#pasw {
    color: #999;
}
h2 {
    font-family: Arial;
}